[Unit]
Description=Systemd service for persona-exporter util
After=network.target

[Service]
User=nobody
Group=nogroup
ExecStart=/usr/bin/persona-exporter
Restart=always
RestartSec=5s
MemoryMax=30M
MemoryHigh=30M
CPUQuota=5%
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
